@(riceball: Riceball, riceballForm: Form[(String,Int,String)], stores: List[Store])(implicit messages: Messages)

@import helper._
@import views.html.common.forms._

@main("おにぎり編集") {
  <div class="main">
    <h1 class="title">@riceball.name を編集する</h1>
    
    @form(routes.RiceballController.modify(riceball.id)) {
        @myTextForm(field = riceballForm("name"), label = "名前", value = riceball.name) 
        @storeSelector(riceballForm("storeId"), stores.map(s => s.id -> s.name), riceball.storeId)
        @myTextForm(field =riceballForm("description"), label = "説明", value = riceball.description)
        
        <input class="btn btn-primary" type="submit" value="編集">
    }
  </div>
}
