@(riceball: Riceball, riceballForm: Form[(String,Int,String)], stores: List[Store])(implicit messages: Messages)

@import helper._
@import views.html.common.forms.storeSelector

@main("おにぎり編集") {
    
    <h2>@riceball.name を編集する</h2>
    
    @form(routes.RiceballController.modify(riceball.id)) {
        @inputText(riceballForm("name")) 
        @storeSelector(riceballForm("storeId"), stores.map(s => s.id -> s.name), riceball.storeId)
        @inputText(riceballForm("description"))
        
        <input type="submit" value="編集">
        
    }
    
}
