@(riceballForm: Form[(String,Int,String,String)], stores: List[Store])(implicit messages: Messages)

@import helper._
@import views.html.common.forms._

@main("おにぎり新規登録") {
 <div class="main"> 
    <h1 class="title">おにぎりを登録する</h1>
    
    @form(routes.RiceballController.add) {
        @myTextForm(field = riceballForm("name"), label = "名前")
        @storeSelector(riceballForm("storeId"), stores.map(s => s.id -> s.name))
        @myTextForm(field = riceballForm("description"), label = "説明")
        @myTextForm(field = riceballForm("imgurl"), label = "画像URL")
        
        <input class="btn btn-primary" type="submit" value="登録">
    }
  </div>
}
