@(riceballForm: Form[(String,Int,String)], stores: List[Store])(implicit messages: Messages)

@import helper._
@import views.html.common.forms.storeSelector

@main("おにぎり新規登録") {
    
    <h2>新しく見つけたおにぎりを投稿する</h2>
    
    @form(routes.RiceballController.add) {
        @inputText(riceballForm("name")) 
        @storeSelector(riceballForm("storeId"), stores.map(s => s.id -> s.name))
        @inputText(riceballForm("description")) 
        
        <input type="submit" value="Create">
        
    }
    
}
