@(riceballs: List[Riceball])(implicit messages: Messages)

@import helper._

@main("Todo list") {
    
    <h1>@riceballs.size 個のおにぎりが登録されています。</h1>
    
    <input type="button" onclick="location.href='@routes.RiceballController.add'" value="おにぎり登録">

    <ul>
        @riceballs.map { riceball =>
            <li>
                <a href=@routes.RiceballController.detail(riceball.id)>@riceball.name</a>
                
                @form(routes.RiceballController.delete(riceball.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
}
