@(riceballs: List[Riceball], stores: List[Store])(implicit messages: Messages)

@import helper._
@import views.html.common.forms.storeSelector

@main("検索結果") {

  <div class="main">
    <h1>@riceballs.length 個のおにぎりがヒットしました。</h1>

    <table class="table table-striped">
      <tr>
        <th>具の名前</th>
        <th>売っている店舗</th>
      </tr>
      @riceballs.map { riceball =>
        <tr>
          <td><a href=@routes.RiceballController.detail(riceball.id)>@riceball.name</a></td>
          <td>@stores.find(s => s.id == riceball.storeId).get.name</td>
        </tr>
      }
    </table>
  </div>
}
